
<div class="ng-modal" style="background-color: #e3e3e3; z-index:2000">
    <div class="modal-header">
      <h2 class="modal-title">{{influencer.name}} {{influencer.surname}}</h2>
      <p style="color:red;">Age: {{influencer.age}}</p>
    </div>
    <div class="modal-body">
        <div style="color:gray;">{{influencer.email}}</div>
        <div>{{influencer.bio}}</div>
        <div style="display: flex;">
            <div *ngFor="let tag of influencer.tags">
            <h5 class="card-title text-uppercase text-muted mb-0" style="padding-right: 8px;">{{tag}}</h5>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-primary"><a style="color: whitesmoke;" [href]="'mailto:' + influencer.email">Send Email</a></button>
    </div>
  </div>